#title {
    background-color: #ff3c68;
}

h1 {
    font-family: "Montserrat-Black", serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}

body {
    font-family: "Montserrat", sans-serif;
}

.navbar-brand {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: "Ubuntu";
}

.navbar {
    padding-bottom: 4.5rem;
}

.nav-item {
    padding: 0.18;
}

.nav-link {
    font-family: "Montserrat-Light", serif;
    font-size: 1rem;
}

.download-button {
    margin: 5% 3% 5% 0%;
}

.title-image {
    width: 60%;
    transform: rotate(25deg);
}

.testimonials{
    padding: 7% 15%;
    color: white;
    text-align: center;
    background-color: #ef8172;
    position: relative;
}

h2{
    font-size: 3rem;
    line-height: 1.5;
    font-family: "Montserrat-Bold";
    text-align: center;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo{
  padding: 20px 20px 50px;
  width: 15%;
}

.card{
  align-items: center;
  padding: 20px 20px 50px;
  width: 15%;
}

.card-deck{
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
}

p{
    text-align: center;
}

.call{
    background-color: #ff3c68;
    text-align: center;
    font-family: "Montserrat-Black", serif;
    font-size: 3rem;
    line-height: 1.5;
    color: white;
}
.copy{
    text-align: center;
}

.container1{
    display: flex;
    height: 6vh;
    justify-content: space-around;
}
.item1{
    padding: 40px;
    font-family: "Montserrat-Black", serif;
    height: fit-content;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.container2{
    display: flex;
    height: 25vh;
    justify-content: space-around;
}
.item2{
    padding: 40px;
    font-family: "Montserrat-Black", serif;
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    color: 	silver;
    text-align: center;
}
